* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.videobox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.viedo {
  width: 100vw;
  height: auto;
}
.viedoplay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url(../images/videoplay.png);
}

    